<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>patient - add</title>
</head>
<body>
<h2>ADD PATIENT :</h2>
<table>
    <tr>
        <td>First name</td>
        <td>Last name</td>
        <td>Birth date</td>
        <td>Gender</td>
        <td>Address</td>
        <td>Phone number</td>
    </tr>
    <tr>
        <form action="#" th:action="@{patient/add/}" method="post">
            <input type="text"  id="firstName" placeholder="firstName">
            <input type="text" id="lastName" placeholder="lastName">
            <input type="text" id="birthDate" placeholder="birthDate">
            <input type="text" id="gender" placeholder="gender">
            <input type="text"  id="address" placeholder="address">
            <input type="text" id="phoneNumber" placeholder="phoneNumber">
            <input class="btn btn-primary btn-sm" type="submit" value="Add Patient">
        </form>
    </tr>
</table>
</body>
</html>