<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>patient - get</title>
</head>
<body>
<tr>
    <a href="home">home</a>
</tr>
<h2>PATIENT INFO :</h2>
<table>
    <tr>
        <td>Id</td>
        <td>First name</td>
        <td>Last name</td>
        <td></td>
    </tr>
    <tr th:each="patient: ${patientList}">
        <td th:text="${patient.idPatient}">placeholder patient info</td>
        <td th:text="${patient.firstName}">placeholder patient info</td>
        <td th:text="${patient.lastName}">placeholder patient info</td>
        <td><a th:href="@{'update/' + ${patient.idPatient}}">update</a></td>
    </tr>
    <tr>
        <td><a href="add">add patient</a></td>
    </tr>
</table>
</body>
</html>