<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>note - get</title>
</head>
<body>
<tr>
    <a href="home">home</a>
    <a href="../logout">logout</a>
</tr>
<h2>NOTE INFO :</h2>
<table>
    <tr>
        <td>Id</td>
        <td>Patient Id</td>
        <td>Patient</td>
        <td>Note</td>
    </tr>
    <tr>
        <td th:text="${note.id}">placeholder note info</td>
        <td th:text="${note.patId}">placeholder note info</td>
        <td th:text="${note.patient}">placeholder note info</td>
        <td th:text="${note.note}">placeholder note info</td>
    </tr>
</table>
</body>
</html>